/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

	.row1::after, .row2::after, .row3::after, .row4::after, .row2point5::after{
		content: "";
		display: table;
		clear: both; 
	}
	.row1 article{
		float: left; 
		width : 20%; 
		background-color: rgba(223, 219, 25, 0.719);

	}

	.row2 article, .row2point5 article{
		/* float: left;  */
		width: 100%; 
		background-color: blueviolet;
	}

	.row3 article{ 
		float: left; 
		background-color: limegreen; 

	}
	.narrow{
		width :20%;
		background-color: peru; 
	}
	.wide{
		width: 70%;
		float: right; 
		color: lightcyan; 
	}

	.row4 article {
		float: left; 
		width: 100%; 
		background-color: lightsalmon;
	}


}